.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
}
.window {
  width: 50vh;
}
.windowContent {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.contentText {
  padding-bottom: 1rem;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
