.quoteContainer {
  overflow: hidden;
  height: 80vh;
  width: 100%;
}

.tickerPicker {
  display: flex;
  margin-bottom: 1rem;
}
.clearButton {
  margin-bottom: 1rem;
}
.quoteTable {
  position: relative;
}

.quoteTableBody {
  text-align: right;
}
.updatedRow {
  background-color: rgb(108, 155, 199);
  transition: background-color 0.5s ease;
}
